<ng-container *ngIf="resources; else markedlist">
  <div class="content mx-auto rounded my-4 list-group">
    <h5 class="list-group-item list-group-item-warning">My Wishlist</h5>

    <div *ngFor="let resource of resources" class="list-group-item list-group-item-action">
      <h2 class="mb-2">
        <a *ngIf="resource.writer" routerLink="/book/{{resource.resource_id}}">{{resource.name}}</a>
        <a *ngIf="resource.director" routerLink="/movie/{{resource.resource_id}}">{{resource.name}}</a>
      </h2>
      Release date: {{resource.release_date | date}}

      <div *ngIf="resource.writer">
        Writer: {{resource.writer}}
        <br>
        <small>Edition #{{resource.edition}}</small>
      </div>

      <div *ngIf="resource.director">
        Director: {{resource.director}}
      </div>
    </div>
  </div>
</ng-container>
<ng-template #markedlist>
  <div class="content mx-auto rounded my-4 list-group">
    <div class="content mx-auto rounded my-3">
      <h5 class="list-group-item list-group-item-warning">My History List</h5>
      <br>
      <div *ngFor="let resource of records" class="list-group-item list-group-item-action">
        <h2 class="list-group-item list-group-item-primary mb-3"> {{resource.name}} </h2>
        <div class="px-3 pb-3">
          Release date: {{resource.releaseDate | date}}

          <div *ngIf="resource.writer">
            Writer: {{resource.writer}} Edition number: {{resource.edition}}
          </div>

          <div *ngIf="resource.director">
            Writer: {{resource.director}}
          </div>

          Registered since {{resource.creationDate | date}}

          <div *ngIf="resource.writer">
            <br>
            <small>Edition #{{resource.edition}} released on {{resource.releaseDate | date}}</small>
          </div>
        </div>
        <div class="col-md my-3 my-md-0">
          <div class="d-flex justify-content-md-center">
            <button class="btn btn-outline-success oi oi-thumb-up mr-1" title="Like" aria-hidden="true">Like</button>
            <button class="btn btn-outline-danger oi oi-thumb-down" title="Dislike" aria-hidden="true">Dislike</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>