<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand" routerLink="/home">MaBSharing</a>

  <button class="navbar-toggler my-1" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <form class="d-inline my-2 mx-lg-4 w-100">
    <div class="search">
      <div class="input-group">
        <input #searchBox class="form-control" type="search" placeholder="Search anything!" aria-label="Search" (keyup)="search(searchBox.value)">
        <span class="input-group-append">
          <button class="btn btn-outline-info" type="button" routerLink="/search">Search</button>
        </span>
      </div>
      <div class="list-group">
        <div *ngFor="let result of results$ | async">
          <a class="list-group-item list-group-item-action" *ngIf="result.username" routerLink="/user/{{result.id}}">
            <h6>{{result.username}}</h6>
            <span class="badge badge-primary">User</span>
            <small> since {{result.creationDate | date }}</small>
          </a>
          <a class="list-group-item list-group-item-action" *ngIf="result.director" routerLink="/resources/movie/{{result.id}}">
            <h6 class="d-inline">{{result.name}}</h6>
            <small> ({{result.releaseDate | date:"y"}})</small>
            <br>
            <span class="badge badge-danger">Movie</span>
            <small> by {{result.director}}</small>
          </a>
          <a class="list-group-item list-group-item-action" *ngIf="result.writer" routerLink="/resources/book/{{result.id}}">
            <h6 class="d-inline">{{result.name}}</h6>
            <small> ({{result.releaseDate | date:"y"}})</small>
            <br>
            <span class="badge badge-warning">Book</span>
            <small> by {{result.writer}}, edition #{{result.edition}}</small>
          </a>
        </div>
      </div>
    </div>
  </form>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Wishlist</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Records</a>
      </li>
    </ul>

    <ul class="navbar-nav my-1 ml-lg-4">
      <div class="nav-item">
        <a class="nav-link" routerLink="#" (click)="logout()">Logout</a>
      </div>
    </ul>
  </div>
</nav>