<div class="content mx-auto rounded my-4 list-group">
  <h5 *ngIf="!events.length" class="list-group-item list-group-item-success">There is no recent activity.</h5>
  <h5 *ngIf="events.length" class="list-group-item list-group-item-success">{{events.length}} events</h5>
  <div *ngFor="let event of events | reverse" class="list-group-item">
    <span *ngIf="event.event === 'wishlist'">
      <a routerLink="/user/{{event.friend_id}}">User {{event.friend_id}}</a> added <a routerLink="/user/{{event.resource_id}}">{{event.resource_id}}</a> to its wishlist
    </span>

    <span *ngIf="event.event === 'marked'">
      <a routerLink="/user/{{event.friend_id}}">User {{event.friend_id}}</a> marked <a routerLink="/user/{{event.resource_id}}">{{event.resource_id}}</a> as seen
    </span>

    <span *ngIf="event.event === 'rating'">
      <a routerLink="/user/{{event.friend_id}}">User {{event.friend_id}}</a> {{event.like_it === '1' ? "liked" : "disliked"}} <a routerLink="/user/{{event.resource_id}}">{{event.resource_id}}</a>
    </span>

    <span *ngIf="event.event === 'comment'">
      <a routerLink="/user/{{event.friend_id}}">User {{event.friend_id}}</a> commented <a routerLink="/user/{{event.resource_id}}">{{event.resource_id}}</a>
    </span>

    <span *ngIf="event.event === 'friendship_request_sent'">
      <a routerLink="/user/{{event.orig_author_id}}">User {{event.orig_author_id}}</a> wants to be <a routerLink="/user/{{event.dest_author_id}}">user's {{event.dest_author_id}}</a> friend
    </span>

    <span *ngIf="event.event === 'friendship_request_received'">
      <a routerLink="/user/{{event.dest_author_id}}">User {{event.dest_author_id}}</a> has a new friend request from <a routerLink="/user/{{event.orig_author_id}}">user {{event.orig_author_id}}</a>
    </span>

    <span *ngIf="event.event === 'accepted_friendship_received' || event.event === 'accepted_friendship_sent'">
      <a routerLink="/user/{{event.orig_author_id}}">User {{event.orig_author_id}}</a> and <a routerLink="/user/{{event.dest_author_id}}">user's {{event.dest_author_id}}</a> are now friends
    </span>

    <span *ngIf="event.event === 'rejected_friendship_received' || event.event === 'rejected_friendship_sent'">
      <a routerLink="/user/{{event.dest_author_id}}">User {{event.dest_author_id}}</a> refused <a routerLink="/user/{{event.dest_author_id}}">user's {{event.dest_author_id}}</a> friends request
    </span>

    <span>on {{event.timestamp | date:'MMM d, y - H:mm:ss'}}</span>

    <div *ngIf="event.event === 'comment'" class="comment pl-1 mt-1">{{event.comment}}</div>

  </div>
</div>