/* You can add global styles to this file, and also import other style files */
body {
    background-color: gainsboro;
}

.content {
    max-width: 75%;
    background-color: white;
}

@media only screen and (max-width: 800px) {
    .content {
        max-width: 100%;
    }
}

.comment {
    border-left: solid gainsboro;
    white-space: pre-line;
}