<div class="content mx-auto rounded my-4">

  <h2 class="list-group-item list-group-item-primary mb-3"> {{user.email}} </h2>

  <div class="row px-3 pb-3">

    <div class="col-md">
      User since {{user.creation_date | date}}
    </div>

    <div *ngIf="!isCurrentUser" class="col-md mt-2 mt-md-0">
      <span class="alert alert-danger mr-4" role="alert" *ngIf="errMsg"> {{errMsg}} </span>
      <button class="btn btn-outline-primary oi oi-person float-md-right" title="Add friend" aria-hidden="true" *ngIf="!pendingRequest && !added" (click)="sendFriendRequest()"> Send friend request</button>
      <button class="btn btn-outline-primary oi oi-person float-md-right" title="Add friend" aria-hidden="true" *ngIf="added" disabled> Already friends</button>
      <button class="btn btn-outline-primary oi oi-person float-md-right" title="Add friend" aria-hidden="true" *ngIf="pendingRequest" disabled> Pending request</button>
    </div>

  </div>

</div>

<div class="content mx-auto rounded my-4 list-group">
  <h5 *ngIf="!events.length" class="list-group-item list-group-item-success">This user has no recent activity.</h5>
  <h5 *ngIf="events.length" class="list-group-item list-group-item-success">{{events.length}} events</h5>
  <div *ngFor="let event of events | reverse" class="list-group-item">
    <span *ngIf="event.event === 'wishlist'">
      Added <a routerLink="/user/{{event.resource_id}}">{{event.resource_id}}</a> to wishlist
    </span>

    <span *ngIf="event.event === 'marked'">
      Marked <a routerLink="/user/{{event.resource_id}}">{{event.resource_id}}</a> as already seen
    </span>

    <span *ngIf="event.event === 'rating'">
      {{event.like_it === '1' ? "Liked" : "Disliked"}} <a routerLink="/user/{{event.resource_id}}">{{event.resource_id}}</a>
    </span>

    <span *ngIf="event.event === 'comment'">
      Commented <a routerLink="/user/{{event.resource_id}}">{{event.resource_id}}</a>
    </span>

    <span>on {{event.timestamp | date:'MMM d, y - H:mm:ss'}}</span>

    <div *ngIf="event.event === 'comment'" class="comment pl-1 mt-1">{{event.comment}}</div>

  </div>
</div>