<div class="content mx-auto rounded my-4">

  <h2 class="list-group-item list-group-item-primary mb-3"> {{user.email}} </h2>

  <div class="row px-3 pb-3">

    <div class="col-md">
      User since {{user.creation_date | date}}
    </div>

    <div *ngIf="!isCurrentUser" class="col-md mt-2 mt-md-0">
      <span class="alert alert-danger mr-4" role="alert" *ngIf="errMsg"> {{errMsg}} </span>
      <button class="btn btn-outline-primary oi oi-person float-md-right" title="Add friend" aria-hidden="true" *ngIf="!pendingRequest && !added" (click)="sendFriendRequest()"> Send friend request</button>
      <button class="btn btn-outline-primary oi oi-person float-md-right" title="Add friend" aria-hidden="true" *ngIf="added" disabled> Already friends</button>
      <button class="btn btn-outline-primary oi oi-person float-md-right" title="Add friend" aria-hidden="true" *ngIf="pendingRequest" disabled> Pending request</button>
    </div>

  </div>

</div>

<div class="content mx-auto rounded my-4 list-group">
  <h5 *ngIf="!events.length" class="list-group-item list-group-item-success">This user has no recent activity.</h5>
  <h5 *ngIf="events.length" class="list-group-item list-group-item-success">{{events.length}} events</h5>
  <div *ngFor="let event of events | reverse" class="list-group-item">
    <span *ngIf="event.event === 'wishlist'">
      Added <a routerLink="/{{event.resource_type === 'movie' ? 'movie' : 'book'}}/{{event.resource_id}}">{{event.name}}</a> to wishlist
    </span>

    <span *ngIf="event.event === 'marked'">
      Marked <a routerLink="/{{event.resource_type === 'movie' ? 'movie' : 'book'}}/{{event.resource_id}}">{{event.name}}</a> as already seen
    </span>

    <span *ngIf="event.event === 'rating'">
      {{event.like_it === '1' ? "Liked" : "Disliked"}} <a routerLink="/{{event.resource_type === 'movie' ? 'movie' : 'book'}}/{{event.resource_id}}">{{event.name}}</a>
    </span>

    <span *ngIf="event.event === 'comment'">
      Commented <a routerLink="/{{event.resource_type === 'movie' ? 'movie' : 'book'}}/{{event.resource_id}}">{{event.name}}</a>
    </span>

    <span *ngIf="event.event === 'new_resource'">
      Created a new {{event.resource_type === 'movie' ? 'movie' : 'book'}} <a routerLink="/{{event.resource_type === 'movie' ? 'movie' : 'book'}}/{{event.resource_id}}">{{event.name}}</a>
    </span>

    <span *ngIf="event.event === 'friendship_request_sent'">
      Wants to be <a routerLink="/user/{{event.dest_author_id}}">user's {{event.dest_author_id}}</a> friend
    </span>

    <span *ngIf="event.event === 'accepted_friendship_received' || event.event === 'accepted_friendship_sent'">
      Is now <a routerLink="/user/{{event.dest_author_id}}">user's {{event.dest_author_id}}</a> friend
    </span>

    <span *ngIf="event.event === 'rejected_friendship_received' || event.event === 'rejected_friendship_sent'">
      Refused <a routerLink="/user/{{event.dest_author_id}}">user's {{event.dest_author_id}}</a> friends request
    </span>

    <span *ngIf="event.event === 'friendship_request_received'">
      Has a new friend request from <a routerLink="/user/{{event.orig_author_id}}">user {{event.orig_author_id}}</a>
    </span>

    <span>on {{event.timestamp | date:'MMM d, y - H:mm:ss'}}</span>

    <div *ngIf="event.event === 'comment'" class="comment pl-1 mt-1">{{event.comment}}</div>

  </div>
</div>